<app-auth></app-auth>

<div class="container">
<input [(ngModel)]="keyWord">
<button (click)="searchRecipes(keyWord)">Search</button>
<br>
<br>

<input [(ngModel)]="input" placeholder="search text goes here">
<ul>
  <li *ngFor="let filter of filters | filter : input">
    <button (click)="searchRecipes(filter)">{{filter}}</button>
  </li>
</ul>
</div>



<div *ngFor="let recipe of recipes" class="container">
	<ul>
		<li>
			<a [routerLink]="['/details', recipe.idMeal]">
				<img src="{{ recipe.strMealThumb }}">
				<p>{{ recipe.strMeal }}</p>
			</a>
		</li>
	</ul>
</div>

