<div class="container">
<input [(ngModel)]="keyWord">
<button (click)="searchRecipes(keyWord)">Search</button>
<br>
<br>
<button (click)="searchRecipes('breakfast')">Breakfast</button>
<button (click)="searchRecipes('side')">Side dishes</button>
<button (click)="searchRecipes('vegan')">Vegan</button>
<button (click)="searchRecipes('vegetarian')">Vegetarian</button>
<button (click)="searchRecipes('starter')">Starters</button>
<button (click)="searchRecipes('desert')">Desert</button>
<button (click)="searchRecipes('miscellaneous')">Miscellaneous</button>
</div>

<div *ngFor="let recipe of recipes" class="container">
	<ul>
		<li>
			<a [routerLink]="['/details', recipe.idMeal]">
				<img src="http://{{ recipe.strMealThumb }}">
				<p>{{ recipe.strMeal }}</p>

			</a>
		</li>
	</ul>
</div>

